<% @character.errors.full_messages.each do |error|%>
<%= error %>
<% end %>


<div class="text-center">
<%= form_for @character, html: {class: "ui form new-user-form"} do |f| %>
  <div class= "field">
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>
  <%= f.submit%>
<% end %>

<%= button_to "Delete", @character, :method => :delete, class: "ui red button" %>
</div>
