<div class="hpbar">
  <img src=<%= @battle.character.image_url %>
  alt="warrior_picture"
  class="img-responsive"
  height="500"
  width="350" />
  <div class="w3-light-grey w3-xlarge">
    <div class="w3-container w3-green" style="width:<%= 100 %>%"> 100 %</div>
  </div>
  <%= form_tag battle_path(@battle) do %>
    <input type="hidden" name="percent" value= "<%= @percent %>" />
    <input type="submit" value="Attack" />
  <% end %>
</div>

<div class="hpbar2">
  <img src=<%= @battle.boss.image_url %>
  alt="warrior_picture"
  class="img-responsive"
  height="500"
  width="350" />
  <div class="w3-light-grey w3-xlarge">
    <div class="w3-container w3-green" style="width:<%= @percent %>%"> <%= @percent %>%</div>
  </div>
</div>
