<div class="hpbar">
  <img src=<%= @battle.character.image_url %>
  alt="warrior_picture"
  class="img-responsive"
  height="500"
  width="350" />
  <div class="w3-light-grey w3-xlarge">
    <div class="w3-container w3-green" style="width:<%= @percent1 %>%"> <%= @percent1 %> %</div>
  </div>
  <%= form_tag battle_path(@battle) do %>
    <input type="hidden" name="percent1" value= "<%= @percent1 %>" />
    <input type="hidden" name="percent2" value= "<%= @percent2 %>" />
    <% if @percent1.to_i <= 0 || @percent2.to_i <= 0 %>
      <input type="submit" value="Attack" disabled />
      <% else %>
      <input type="submit" value="Attack" />
      <% end %>
  <% end %>
</div>

<div class="hpbar2">
  <img src=<%= @battle.boss.image_url %>
  alt="warrior_picture"
  class="img-responsive"
  height="500"
  width="350" />
  <div class="w3-light-grey w3-xlarge">
    <div class="w3-container w3-green" style="width:<%= @percent2 %>%"> <%= @percent2 %>%</div>
  </div>
</div>
<%if @percent1.to_i <= 0 && @percent2.to_i <= 0 %>
<%= "ISSA TIE" %>
<% elsif @percent1.to_i <= 0 %>
<%= "YOU LOST" %>
<% elsif @percent2.to_i <= 0 %>
<%= "YOU WON!" %>
<% end %>



<%= button_to "Back To Your Roster", characters_path, :method => :get %>
