<div class="text-center character-show">
  <h1> <%= @boss.name %> </h1>
  <div class="ui middle aligned animated list">
    <div class="item">
      <div class="content">
        <div class="header">HP</div>
        <%= @boss.hp %>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Level</div>
        <%= @boss.level %>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Physical Damage</div>
        <%= @boss.physical_damage %>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Magical Damage</div>
        <%= @boss.magical_damage %>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Armor</div>
        <%= @boss.armor %>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Weaknesses</div>
        <%= @boss.weaknesses %>
      </div>
    </div>
  </div>

  <button class="ui icon teal button char-btn">
    <%= link_to "Back to bosses", bosses_path, :class => "btn-create" %>
  </button>
</div>
